/* .mainNav ul li a {
    background-color: black;
    height: 100%;
    padding-top: auto;
    padding-bottom: auto;
}

.mainNav ul li  {
    height: 100%;
} */



.mainNav {
    width: 100%;
    background-color: black;
    position: fixed;
    overflow: hidden;   
    z-index: 10000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: block; */
    /* position: absolute; */
    top: 0;
    left: 0;
}

.logo {
    width: 50%;
    margin-bottom: 15px;
    /* background-color: red; */
}

/* .mainNav ul {
    display: grid;

    grid-gap: px; 
    list-style: none;
    
} */

/* .loginButton {

} */

.Dropdown {
    place-self: center;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}
.loginBtn1 {
    border: 2px solid grey;
    width: 65%;
    height: 110%;
    border-radius: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.loginBtn1:hover{
    border: 2px solid white;
    width: 75%;
    height: 110%;
    border-radius: 15px;
    background-color: rgba(250, 0, 0, 0);
}

.mainNav a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    padding-bottom: 0rem;
    margin-bottom: -0.5rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    /* box-shadow: var(--shadow); */
}



@media(max-width: 700px) {
    .mainNav ul li a {
        padding-bottom: 1rem;
    }
    .mainNav ul {
        grid-template-columns: 1fr;
    }

} 