.OnSellProduct {
    display: grid;
    grid-template-columns: 1fr 2fr 10vw;
    width: 100%;
    padding: 0.5em;
    /* border: 3px solid var(--dark); */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    box-shadow: var(--shadow);
}

.Image {
    /* border: 1px solid var(--dark); */
    width: 18em;
    height: 10em;
}

.ProductInfo {
    display: grid;
    margin-left: 2vw;
}

.OldPrice {
    text-decoration: line-through;
}

.NewPrice {
    display: block;
    background-color: var(--danger);
    font-size: 1.2em;
}

.AmountOfProduct,
.AmountOfRates,
.AmountOfSoldProduct {
    display: grid;
    grid-template-columns: 50% 40% 10%;
    align-items: center;
    /* white-space: nowrap; */
}

.AmountOfProduct label,
.AmountOfRates label,
.AmountOfSoldProduct label {
    padding: 0;
}

.Buttons button {
    height: 49%;
    width: 100%;
}

.Buttons a {
    text-decoration: none;
    color: var(--dark);
}

