.Container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas:
    'search search search search search'
    'filters img info info info ';
}

.SearchBar {
    grid-area: search;
    background-color: rgb(128, 255, 128);
}

.SearchBar > input {
    width: 80%;
    margin-left: 10%;
}

.Filters {
    grid-area: filters;
    padding-left: 20%;
    background-color: rgb(250, 159, 204);
}


.Img {
    grid-area: img;
    width: 100px;
    height: 100%;;
}

.Info {
    grid-area: info;
}