.Container {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.SearchBar {
    grid-area: search;
    background-color: rgb(128, 255, 128);
}

.SearchBar > input {
    width: 80%;
    margin-left: 10%;
}

.Filters {
    background-color: rgb(250, 159, 204);
}


.Img {
    
}

.Info {
    background-color: aqua;
}